.volume-slider .track {
    -fx-background-color: lightgray; /* oder lightgray */
    -fx-background-insets: 0;
    -fx-padding: 0.25em;
}

.volume-slider .track > .fill {
    -fx-background-color: linear-gradient(to right, #ff9900, #ffaa00);
}



.volume-slider .thumb {
    -fx-shape: "M0,5 a5,5 0 1,0 10,0 a5,5 0 1,0 -10,0";
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, gray, gray);
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0, 0, 0);
}

.volume-slider:hover .track > .fill {
    -fx-background-color: blue; /* dunkleres Orange */
}
.volume-slider:hover .thumb {
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, #666666, #666666);
}

.volume-slider:pressed .thumb {
    -fx-background-color: orange;
}
